In [1]:
import requests
from dotenv import load_dotenv
import yfinance as yf
import alpaca_trade_api as tradeapi

In [2]:
load_dotenv()

True

In [3]:
# sp500 stock data last 5-years

In [4]:
sp500 = yf.Ticker('^GSPC')
sp500_hist = sp500.history(period='5y')
sp500_hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2016-05-25,2078.929932,2094.729980,2078.929932,2090.540039,3859160000,0,0
2016-05-26,2091.439941,2094.300049,2087.080078,2090.100098,3230990000,0,0
2016-05-27,2090.060059,2099.060059,2090.060059,2099.060059,3079150000,0,0
2016-05-31,2100.129883,2103.479980,2088.659912,2096.949951,4514410000,0,0
2016-06-01,2093.939941,2100.969971,2085.100098,2099.330078,3525170000,0,0
...,...,...,...,...,...,...,...
2021-05-19,4098.450195,4116.930176,4061.409912,4115.680176,3485550000,0,0
2021-05-20,4121.970215,4172.799805,4121.970215,4159.120117,3019060000,0,0
2021-05-21,4168.609863,4188.720215,4151.720215,4155.859863,3344620000,0,0
2021-05-24,4170.160156,4209.520020,4170.160156,4197.049805,2947400000,0,0
2021-05-25,4205.939941,4213.419922,4184.910156,4187.149902,1573615000,0,0

In [5]:
# nasdaq stock data last 5-years

In [6]:
nasdaq = yf.Ticker('NDAQ')
nasdaq_hist = nasdaq.history(period='5y')
nasdaq_hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2016-05-25,59.886929,60.105759,59.348964,59.722805,821500,0.0,0
2016-05-26,59.613389,59.677215,58.956900,59.285141,606300,0.0,0
2016-05-27,59.576901,59.896036,59.467490,59.877796,424900,0.0,0
2016-05-31,59.950755,60.206057,59.595154,60.187824,1240900,0.0,0
2016-06-01,59.722802,59.996344,59.613383,59.813980,717600,0.0,0
...,...,...,...,...,...,...,...
2021-05-19,160.240005,161.179993,159.440002,160.940002,648800,0.0,0
2021-05-20,161.509995,164.529999,161.250000,163.460007,415600,0.0,0
2021-05-21,162.899994,164.839996,162.880005,163.869995,1349800,0.0,0
2021-05-24,164.339996,166.009995,164.339996,164.919998,372400,0.0,0
2021-05-25,165.610001,165.960007,164.610001,164.639999,325472,0.0,0

In [7]:
# total world market stock data last 5-years

In [8]:
msci = yf.Ticker('MSCI')
msci_hist = msci.history(period='5y')
msci_hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2016-05-25,74.771814,75.093662,74.213325,74.383713,556000,0.0,0
2016-05-26,74.686609,74.828600,74.061851,74.260635,333500,0.0,0
2016-05-27,74.563543,75.084175,74.402623,75.084175,288300,0.0,0
2016-05-31,75.301909,75.595352,74.506763,75.529091,1220900,0.0,0
2016-06-01,75.065256,75.216708,74.487831,74.506760,683100,0.0,0
...,...,...,...,...,...,...,...
2021-05-19,446.720001,448.890015,443.000000,447.589996,382100,0.0,0
2021-05-20,450.170013,460.920013,448.760010,457.230011,347200,0.0,0
2021-05-21,457.829987,461.190002,456.149994,456.880005,227800,0.0,0
2021-05-24,459.720001,468.170013,459.380005,462.850006,233800,0.0,0
2021-05-25,464.730011,469.970001,463.380005,463.899994,184494,0.0,0

In [9]:
#crypto URL's for real-time data, if needed

#I can pull out price, supply, marketcap, etc. if we want to use this data

In [10]:
btc_url = "https://api.alternative.me/v2/ticker/Bitcoin/?convert=CAD"
eth_url = "https://api.alternative.me/v2/ticker/Ethereum/?convert=CAD"
dash_url = "https://api.alternative.me/v2/ticker/dash/?convert=CAD"
litecoin_url = "https://api.alternative.me/v2/ticker/litecoin/?convert=CAD"
bitcoin_cash_url = "https://api.alternative.me/v2/ticker/bitcoin-cash/?convert=CAD"

In [11]:
#bitcoin real-time data

In [12]:
btc_response = requests.get(btc_url)
btc_response.json()

{'data': {'1': {'id': 1,
   'name': 'Bitcoin',
   'symbol': 'BTC',
   'website_slug': 'bitcoin',
   'rank': 1,
   'circulating_supply': 18718356,
   'total_supply': 18718356,
   'max_supply': 21000000,
   'quotes': {'USD': {'price': 37723.0,
     'volume_24h': 52149700441,
     'market_cap': 705535867764,
     'percentage_change_1h': -1.3520308871998,
     'percentage_change_24h': -0.961042588225735,
     'percentage_change_7d': -13.8361610441201,
     'percent_change_1h': -1.3520308871998,
     'percent_change_24h': -0.961042588225735,
     'percent_change_7d': -13.8361610441201},
    'CAD': {'price': 45478.8488,
     'volume_24h': 62871678851.6696,
     'market_cap': 850594042176.279,
     'percent_change_1h': -1.3520308871998,
     'percent_change_24h': -0.961042588225735,
     'percent_change_7d': -13.8361610441201}},
   'last_updated': 1621971100}},
 'metadata': {'timestamp': 1621971100,
  'num_cryptocurrencies': 1299,
  'error': None}}

In [13]:
#ethereum real-time data

In [14]:
eth_response = requests.get(eth_url)
eth_response.json()

{'data': {'1027': {'id': 1027,
   'name': 'Ethereum',
   'symbol': 'ETH',
   'website_slug': 'ethereum',
   'rank': 2,
   'circulating_supply': 116022301,
   'total_supply': 116022301,
   'max_supply': 0,
   'quotes': {'USD': {'price': 2582.15,
     'volume_24h': 93844588515,
     'market_cap': 298274153898,
     'percentage_change_1h': -0.779998939012988,
     'percentage_change_24h': 1.85400751653237,
     'percentage_change_7d': -21.4728259305617,
     'percent_change_1h': -0.779998939012988,
     'percent_change_24h': 1.85400751653237,
     'percent_change_7d': -21.4728259305617},
    'CAD': {'price': 3113.04004,
     'volume_24h': 113139035913.684,
     'market_cap': 359599319939.429,
     'percent_change_1h': -0.779998939012988,
     'percent_change_24h': 1.85400751653237,
     'percent_change_7d': -21.4728259305617}},
   'last_updated': 1621971287}},
 'metadata': {'timestamp': 1621971287,
  'num_cryptocurrencies': 1299,
  'error': None}}

In [15]:
#dash real-time data

In [16]:
dash_response = requests.get(dash_url)
dash_response.json()

{'data': {'131': {'id': 131,
   'name': 'Dash',
   'symbol': 'DASH',
   'website_slug': 'dash',
   'rank': 56,
   'circulating_supply': 10146984,
   'total_supply': 10146984,
   'max_supply': 18920000,
   'quotes': {'USD': {'price': 186.23,
     'volume_24h': 1352366334,
     'market_cap': 1882927478,
     'percentage_change_1h': -3.22071879901222,
     'percentage_change_24h': 1.23498974363958,
     'percentage_change_7d': -36.7107298779066,
     'percent_change_1h': -3.22071879901222,
     'percent_change_24h': 1.23498974363958,
     'percent_change_7d': -36.7107298779066},
    'CAD': {'price': 224.518888,
     'volume_24h': 1630412852.2704,
     'market_cap': 2270057367.4768,
     'percent_change_1h': -3.22071879901222,
     'percent_change_24h': 1.23498974363958,
     'percent_change_7d': -36.7107298779066}},
   'last_updated': 1621971279}},
 'metadata': {'timestamp': 1621971279,
  'num_cryptocurrencies': 1299,
  'error': None}}

In [17]:
#litcoin real-time data

In [18]:
litcoin_response = requests.get(litecoin_url)

litcoin_response.json()

{'data': {'2': {'id': 2,
   'name': 'Litecoin',
   'symbol': 'LTC',
   'website_slug': 'litecoin',
   'rank': 12,
   'circulating_supply': 66752415,
   'total_supply': 66752415,
   'max_supply': 84000000,
   'quotes': {'USD': {'price': 173.8,
     'volume_24h': 6321689011,
     'market_cap': 11576629375,
     'percentage_change_1h': -1.91919862406004,
     'percentage_change_24h': 1.5329411866262,
     'percentage_change_7d': -38.7298249993968,
     'percent_change_1h': -1.91919862406004,
     'percent_change_24h': 1.5329411866262,
     'percent_change_7d': -38.7298249993968},
    'CAD': {'price': 209.53328,
     'volume_24h': 7621428271.6616,
     'market_cap': 13956784374.5,
     'percent_change_1h': -1.91919862406004,
     'percent_change_24h': 1.5329411866262,
     'percent_change_7d': -38.7298249993968}},
   'last_updated': 1621971179}},
 'metadata': {'timestamp': 1621971179,
  'num_cryptocurrencies': 1299,
  'error': None}}

In [19]:
#bitcoin cash real-time data

In [20]:
bitcoin_cash_response = requests.get(bitcoin_cash_url)

bitcoin_cash_response.json()

{'data': {'1831': {'id': 1831,
   'name': 'Bitcoin Cash',
   'symbol': 'BCH',
   'website_slug': 'bitcoin-cash',
   'rank': 10,
   'circulating_supply': 18746419,
   'total_supply': 18746419,
   'max_supply': 21000000,
   'quotes': {'USD': {'price': 687.99,
     'volume_24h': 5988803601,
     'market_cap': 12843247685,
     'percentage_change_1h': -1.99026063706521,
     'percentage_change_24h': 3.34317364123843,
     'percentage_change_7d': -36.2264466029789,
     'percent_change_1h': -1.99026063706521,
     'percent_change_24h': 3.34317364123843,
     'percent_change_7d': -36.2264466029789},
    'CAD': {'price': 829.440744,
     'volume_24h': 7220101621.3656,
     'market_cap': 15483819409.036,
     'percent_change_1h': -1.99026063706521,
     'percent_change_24h': 3.34317364123843,
     'percent_change_7d': -36.2264466029789}},
   'last_updated': 1621971116}},
 'metadata': {'timestamp': 1621971116,
  'num_cryptocurrencies': 1299,
  'error': None}}

In [21]:
# example if won't pull

# bitcoin_cash_response = requests.request("GET", bitcoin_cash_url)

# print(bitcoin_cash_response.text)